/**
 * Section
 */

.section {
  position: relative;
  padding: space(3) 0;
  overflow: hidden;

  &__container {
    position: relative;
    @include container();
  }

  &__heading {
    position: relative;
    z-index: 1;
    margin-bottom: space(3);
  }

  &__figure {
    position: absolute;
    top: 0;
    right: 0;
  }

  &__movie {
    img {
      transition: opacity 0.25s ease-in-out;
    }
    
    a:hover img {
      opacity: 0.85;
    }
  }

  &__table {
    @include table();
  }

  &__button {
    @include button("primary", 12rem, space(4));

    &, &:active, &:hover, &:focus {
      color: themeColor("lightest");
    }
  }

  &--01 {
    margin-top: - (space(4) + space(3));
    padding-top: space(5);
    background: linear-gradient(rgba(255, 255, 255, 0) 5%, rgba(themeColor("primaryLight"), 0.5) 15%, rgba(255, 255, 255, 0) 25%, rgba(themeColor("primary"), 0.15) 100%);

    @media (min-width: breakpoint("md")) {
      background: linear-gradient(rgba(255, 255, 255, 0) 15%, rgba(themeColor("primaryLight"), 0.5) 50%, rgba(255, 255, 255, 0) 85%, rgba(themeColor("primary"), 0.15) 100%);
    }

    &__row {
      @include row(space-around, flex-start);
      margin: space(3) 0;
    }

    &__image {
      @include col(2, true);

      img {
        border-radius: space();
      }
    }

    &__personInfo {
      color: themeColor("primaryDark");
      font-weight: 900;
      font-size: map-get($fontSizes, "nr");
    }

    &__personName {
      color: themeColor("primaryDark");
      font-weight: 900;
      font-size: map-get($fontSizes, "lg");

      span {
        font-size: 0.75em;
      }

      &--space_closing {
        letter-spacing: -3px;
      }
    }

    &__content {
      @include col(6, true);
    }

    &__subHeading {
      width: fit-content;
      margin-top: space();
      background-color: themeColor("lightest");
      color: themeColor("primaryLight");
      font-weight: 900;
      font-size: map-get($fontSizes, "xl");

      @media (min-width: breakpoint("md")) {
        padding: 0 space();
      }
    }

    &__figure {
      top: - space(5);
      right: - space(2);
      width: min(50%, 30rem);
    }
  }

  &--02 {
    background-color: themeColor("lightest");

    &__subSection--01 {
      position: relative;
      padding: space(3);
      border-radius: space(3);
      @include background("primary");

      @media (min-width: breakpoint("md")) {
        padding: space(4);
      }
    }

    &__subHeading--01 {
      position: relative;
      z-index: 1;
      margin: 0;
      font-size: map-get($fontSizes, "xxl");
    }

    &__content--01 {
      @media (min-width: breakpoint("md")) {
        width: 50%;
      }
    }

    &__image--01 {
      width: 100%;

      @media (min-width: breakpoint("md")) {
        position: absolute;
        top: - space(3);
        right: - space(3);
        width: 50%;
      }
    }

    &__subHeading--02 {
      color: themeColor("primary");
      font-size: map-get($fontSizes, "xxl");
      text-align: center;
    }

    &__row {
      @include row(space-around, stretch);
      align-items: stretch;
    }

    &__content--02 {
      @include col(4, true);
      padding: space(3);
    }

    &__contentInner {
      height: 100%;
      padding: space(3);
      border: 1px solid themeColor("primaryLight");
      border-radius: space(3);
      box-shadow: space(2) space(2) space(1) 0 rgba(themeColor("primaryLight"), 0.5);

      @media (min-width: breakpoint("md")) {
        padding: space(3) space(4);
      }
    }

    &__headline {
      color: themeColor("primary");
      font-size: map-get($fontSizes, "lg");
      text-align: center;
    }

    &__content--03 {
      color: themeColor("primary");
      font-size: map-get($fontSizes, "md");
      text-align: center;
    }

    &__figure {
      top: - space(4);
      width: min(40%, 24rem);
    }
  }

  &--03 {
    padding: space(5) 0;
    background-color: themeColor("primaryLight");

    &::before, &::after {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 25vw;
    }

    &::before {
      top: 0;
      background: url("./assets/section03_top.jpg") no-repeat 0 0 / cover scroll;
    }

    &::after {
      bottom: 0;
      background: url("./assets/section03_bottom.jpg") no-repeat 0 0 / cover scroll;
    }

    &__subSection--01 {
      @include row(center, stretch);
    }

    &__content {
      @include col(3.5);
      margin-bottom: space(3);

      &:nth-child(2) {
        @media (min-width: breakpoint("lg")) {
          transform:translateY(space(4));
        }
      }
    }

    &__contentInner {
      height: 100%;
      padding: space(3);
      background-color: themeColor("lightest");
      color: themeColor("primaryLight");
    }

    &__image {
      position: relative;
      margin: - space(3);

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 6rem;
        background: linear-gradient(rgba(themeColor("lightest"), 0), rgba(themeColor("lightest"), 1));
      }
    }

    &__headline {
      position: relative;
      padding-top: space(3);
      font-size: map-get($fontSizes, "lg");

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 6rem;
        height: 3px;
        background-color: themeColor("primaryLight");
      }
    }

    &__subSection--02 {
      position: relative;
      z-index: 1;
      max-width: 67.5rem;
      margin: space(4) auto;
      padding: space(3);
      background: linear-gradient(135deg, lighten(themeColor("primaryLight"), 50%) 9%, themeColor("lightest") 10%, themeColor("lightest") 90%, lighten(themeColor("primaryLight"), 50%) 91%);
    }

    &__subHeading {
      margin-bottom: space(3);
      color: themeColor("primary");
      font-size: map-get($fontSizes, "xxl");
      text-align: center;
    }

    &__table {
      max-width: 45rem;
      margin: space(3) auto;

      th {
        color: themeColor("primary");
      }
    }
  }

  &--04 {
    &__content {
      position: relative;
      margin: space(4) 0;
      padding: space(3);
      border-radius: space(3);
      @include background("primaryLight");

      @media (min-width: breakpoint("md")) {
        padding: space(4);
      }
    }

    &__subHeading {
      position: absolute;
      top: - space(4);
      z-index: 1;
      color: themeColor("primaryDark");
      font-weight: 900;
      font-size: map-get($fontSizes, "xl");
      letter-spacing: 3px;
    }

    &__largeText {
      position: relative;
      z-index: 1;
      margin-bottom: space(3);
      font-weight: 900;
      font-size: map-get($fontSizes, "xxl");
      line-height: $headingLineHeight;
    }

    &__smallText {
      position: relative;
      z-index: 1;
      font-weight: 900;
      font-size: map-get($fontSizes, "lg");
      line-height: $headingLineHeight;
    }

    &__personName {
      margin-right: space();
      padding: 0 space();
      background-color: themeColor("lightest");
      color: themeColor("primaryLight");
    }

    &__personInfo {
      display: inline-block;
      font-size: 0.75em;
    }

    &__image {
      position: absolute;
      right: 0;
      bottom: 0;
      width: min(50%, 30rem);
    }
  }

  &--05 {
    background-image: linear-gradient(rgba(themeColor("primaryLight"), 0.15) 1px, transparent 1px), linear-gradient(90deg, rgba(themeColor("primaryLight"), 0.15) 1px, transparent 1px);
    background-size: 15px 15px;
    background-repeat: repeat;
    background-position: center center;

    &__row {
      @include row();
    }

    &__imageWrap {
      position: relative;
      @include col(4, true);

      &::before {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        width: calc(100% + #{$gutter * 2});
        height: 50vw;
        margin: 0 -$gutter;
        background: url("./assets/section05_bg.jpg") no-repeat 0 100% / cover scroll;

        @media (min-width: breakpoint("md")) {
          width: 50vw;
          height: min(25vw, 24rem);
          margin: 0;
        }
      }
    }

    &__image {
      position: relative;
      z-index: 1;
      display: block;
      width: 20rem; // height: 24rem
      margin: 0 auto space(4);
      border-radius: space(3);
    }

    &__contentWrap {
      @include col(4, true);
    }

    &__contentInner {
      position: relative;
      z-index: 1;
      max-width: 24rem;
      margin: space(4) auto 0;
      padding: space(3);
    }

    &__lead {
      font-size: map-get($fontSizes, "lg");

      p {
        margin: 0 0 space();
        padding-bottom: space();
        border-bottom: 2px solid themeColor("primaryDark");
      }
    }

    &__personInfo {
      color: themeColor("primary");
    }

    &__personName {
      color: themeColor("primary");
      font-size: map-get($fontSizes, "xl");
    }

    &__button {
      width: 18rem;
      margin-top: space(3);
      margin-left: 0;
    }

    &__figure {
      top: - space(4);
      right: - space(2);
      width: min(50%, 30rem);
    }
  }

  &--06 {
    &__row {
      @include row();
    }

    &__button {
      flex: 4 4 24rem;

      &:hover {
        opacity: 0.5;
      }
    }

    &__figure {
      top: - space(4);
      right: - space(2);
      width: min(45%, 27rem);
    }

    .swiper {
      margin-top: space(4);
      margin-bottom: space(4);
    }
  }

  &--recruit {
    padding: space(5) 0;
    background-color: themeColor("primaryLight");

    &__row {
      @include row(space-around, flex-start);
    }

    &__heading, &__buttons {
      flex: 4 4 24rem;
    }

    &__heading img {
      max-width: 30rem;
    }

    &__button {
      &:hover {
        opacity: 0.85;
      }
    }
  }
}
