/**
 * Normalize
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 15px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #ffffff;
  color: #262626;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 600;
  line-height: 1.92;
  letter-spacing: 0;
  -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0;
}

h1 {
  font-size: clamp(1.75rem, 5.33vw, 4rem);
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-weight: bold;
  font-size: 1rem;
}

h6 {
  font-weight: bold;
  font-size: 0.875rem;
}

p,
ol, ul,
li {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

small {
  font-size: 0.875rem;
  line-height: 1.92;
  letter-spacing: 0;
}

blockquote {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  padding-left: 1em;
  border-left: 0.375rem solid #262626;
}
blockquote p, blockquote cite {
  font-style: italic;
  font-size: 0.875rem;
  line-height: 1.92;
  letter-spacing: 0;
}

a, a:active {
  color: #4d4d4d;
  text-decoration: none;
}
a:hover, a:focus {
  color: #036eb8;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

figure {
  display: block;
  margin: 0.75rem auto;
}

figcaption {
  font-size: 0.875rem;
  line-height: 1.92;
  letter-spacing: 0;
  text-align: center;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  text-align: left;
}

button, input, select, textarea {
  font: inherit;
}

/**
 * Header
 */
.header {
  position: relative;
  width: 100%;
  height: 62.5vw;
  background: url("./assets/mv.jpg") no-repeat 50% 50%/cover scroll;
}
@media (min-width: 1125px) {
  .header {
    height: 100vh;
  }
}

/**
 * G Nav
 */
.gNav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 0.75rem;
  transition: background-color 0.25s ease-in-out;
}
.gNav__siteBrand {
  flex: 0 0 auto;
  width: 9rem;
  margin: 0;
  font-size: 1rem;
}
@media (min-width: 750px) {
  .gNav__siteBrand {
    width: 18rem;
  }
}
.gNav__primaryMenu {
  list-style: none;
  padding-left: 0;
  display: none;
  margin: 0;
}
@media (min-width: 750px) {
  .gNav__primaryMenu {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    flex: 0 0 auto;
  }
}
.gNav__menuItem {
  flex: 0 0 auto;
  margin: 0;
}
.gNav__menuItem a {
  color: #ffffff;
  transition: color 0.25s ease-in-out;
}
.gNav__menuItem a:hover {
  opacity: 0.85;
}
.gNav__menuItem--button a {
  background-color: #00b2ed;
  color: #ffffff;
  display: block;
  width: 10.5rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0.75rem;
  border: none;
  border-radius: 3rem;
  text-align: center;
  text-decoration: none;
  word-break: break-word;
  outline: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}
.gNav__menuItem--button a a, .gNav__menuItem--button a a:active, .gNav__menuItem--button a a:hover, .gNav__menuItem--button a a:focus {
  color: #ffffff;
}
.gNav__menuItem--button a:hover {
  text-decoration: none;
  opacity: 0.85;
}
@media (min-width: 750px) {
  .gNav:hover, .gNav--active {
    background-color: #ffffff;
  }
  .gNav:hover .gNav__menuItem:not(.gNav__menuItem--button) a, .gNav--active .gNav__menuItem:not(.gNav__menuItem--button) a {
    color: #262626;
  }
}

/**
 * Section
 */
.section {
  position: relative;
  padding: 1.5rem 0;
  overflow: hidden;
}
.section__container {
  position: relative;
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: clamp(0.75rem, 2%, 1.5rem);
  padding-right: clamp(0.75rem, 2%, 1.5rem);
}
.section__heading {
  position: relative;
  z-index: 1;
  margin-bottom: 1.5rem;
}
.section__figure {
  position: absolute;
  top: 0;
  right: 0;
}
.section__table {
  width: 100%;
}
@media (max-width: 749.9px) {
  .section__table {
    display: block;
  }
}
.section__table thead, .section__table tbody {
  width: 100%;
}
@media (max-width: 749.9px) {
  .section__table thead, .section__table tbody {
    display: block;
  }
}
.section__table thead {
  border: 0;
}
@media (max-width: 749.9px) {
  .section__table tr {
    display: block;
  }
}
.section__table th, .section__table td {
  padding: 0.75rem;
  border: 0;
}
@media (max-width: 749.9px) {
  .section__table th, .section__table td {
    display: block;
  }
}
.section__button {
  background-color: #036eb8;
  color: #ffffff;
  display: block;
  width: 12rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0.75rem;
  border: none;
  border-radius: 3rem;
  text-align: center;
  text-decoration: none;
  word-break: break-word;
  outline: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}
.section__button a, .section__button a:active, .section__button a:hover, .section__button a:focus {
  color: #ffffff;
}
.section__button:hover {
  text-decoration: none;
  opacity: 0.85;
}
.section__button, .section__button:active, .section__button:hover, .section__button:focus {
  color: #ffffff;
}
.section--01 {
  margin-top: -4.5rem;
  padding-top: 6rem;
  background: linear-gradient(rgba(255, 255, 255, 0) 5%, rgba(0, 178, 237, 0.5) 15%, rgba(255, 255, 255, 0) 25%, rgba(3, 110, 184, 0.15) 100%);
}
@media (min-width: 750px) {
  .section--01 {
    background: linear-gradient(rgba(255, 255, 255, 0) 15%, rgba(0, 178, 237, 0.5) 50%, rgba(255, 255, 255, 0) 85%, rgba(3, 110, 184, 0.15) 100%);
  }
}
.section--01__row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin: 1.5rem 0;
}
.section--01__image {
  flex-grow: 2;
  flex-shrink: 2;
  flex-basis: 12rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.section--01__image img {
  border-radius: 0.75rem;
}
.section--01__personInfo {
  color: #0a4b91;
  font-weight: 900;
  font-size: 1rem;
}
.section--01__personName {
  color: #0a4b91;
  font-weight: 900;
  font-size: 1.5rem;
}
.section--01__personName span {
  font-size: 0.75em;
}
.section--01__personName--space_closing {
  letter-spacing: -3px;
}
.section--01__content {
  flex-grow: 6;
  flex-shrink: 6;
  flex-basis: 36rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.section--01__subHeading {
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 0.75rem;
  background-color: #ffffff;
  color: #00b2ed;
  font-weight: 900;
  font-size: 2rem;
}
@media (min-width: 750px) {
  .section--01__subHeading {
    padding: 0 0.75rem;
  }
}
.section--01__figure {
  top: -6rem;
  right: -0.75rem;
  width: min(50%, 30rem);
}
.section--02 {
  background-color: #ffffff;
}
.section--02__subSection--01 {
  position: relative;
  padding: 1.5rem;
  border-radius: 1.5rem;
  background-color: #036eb8;
  color: #ffffff;
}
.section--02__subSection--01 a, .section--02__subSection--01 a:active, .section--02__subSection--01 a:hover, .section--02__subSection--01 a:focus {
  color: #ffffff;
}
@media (min-width: 750px) {
  .section--02__subSection--01 {
    padding: 3rem;
  }
}
.section--02__subHeading--01 {
  position: relative;
  z-index: 1;
  margin: 0;
  font-size: clamp(1.75rem, 5.33vw, 4rem);
}
@media (min-width: 750px) {
  .section--02__content--01 {
    width: 50%;
  }
}
.section--02__image--01 {
  width: 100%;
}
@media (min-width: 750px) {
  .section--02__image--01 {
    position: absolute;
    top: -1.5rem;
    right: -1.5rem;
    width: 50%;
  }
}
.section--02__subHeading--02 {
  color: #036eb8;
  font-size: clamp(1.75rem, 5.33vw, 4rem);
  text-align: center;
}
.section--02__row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: stretch;
  align-items: stretch;
}
.section--02__content--02 {
  flex-grow: 4;
  flex-shrink: 4;
  flex-basis: 24rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding: 1.5rem;
}
.section--02__contentInner {
  height: 100%;
  padding: 1.5rem;
  border: 1px solid #00b2ed;
  border-radius: 1.5rem;
  box-shadow: 0.75rem 0.75rem 0.375rem 0 rgba(0, 178, 237, 0.5);
}
@media (min-width: 750px) {
  .section--02__contentInner {
    padding: 1.5rem 3rem;
  }
}
.section--02__headline {
  color: #036eb8;
  font-size: 1.5rem;
  text-align: center;
}
.section--02__content--03 {
  color: #036eb8;
  font-size: 1.25rem;
  text-align: center;
}
.section--02__figure {
  top: -3rem;
  width: min(40%, 24rem);
}
.section--03 {
  padding: 6rem 0;
  background-color: #00b2ed;
}
.section--03::before, .section--03::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 25vw;
}
.section--03::before {
  top: 0;
  background: url("./assets/section03_top.jpg") no-repeat 0 0/cover scroll;
}
.section--03::after {
  bottom: 0;
  background: url("./assets/section03_bottom.jpg") no-repeat 0 0/cover scroll;
}
.section--03__subSection--01 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
}
.section--03__content {
  flex-grow: 0;
  flex-shrink: 3.5;
  flex-basis: 21rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin-bottom: 1.5rem;
}
@media (min-width: 1125px) {
  .section--03__content:nth-child(2) {
    transform: translateY(3rem);
  }
}
.section--03__contentInner {
  height: 100%;
  padding: 1.5rem;
  background-color: #ffffff;
  color: #00b2ed;
}
.section--03__image {
  position: relative;
  margin: -1.5rem;
}
.section--03__image::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 6rem;
  background: linear-gradient(rgba(255, 255, 255, 0), white);
}
.section--03__headline {
  position: relative;
  padding-top: 1.5rem;
  font-size: 1.5rem;
}
.section--03__headline::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 6rem;
  height: 3px;
  background-color: #00b2ed;
}
.section--03__subSection--02 {
  position: relative;
  z-index: 1;
  max-width: 67.5rem;
  margin: 3rem auto;
  padding: 1.5rem;
  background: linear-gradient(135deg, #edfbff 9%, #ffffff 10%, #ffffff 90%, #edfbff 91%);
}
.section--03__subHeading {
  margin-bottom: 1.5rem;
  color: #036eb8;
  font-size: clamp(1.75rem, 5.33vw, 4rem);
  text-align: center;
}
.section--03__table {
  max-width: 45rem;
  margin: 1.5rem auto;
}
.section--03__table th {
  color: #036eb8;
}
.section--04__content {
  position: relative;
  margin: 3rem 0;
  padding: 1.5rem;
  border-radius: 1.5rem;
  background-color: #00b2ed;
  color: #ffffff;
}
.section--04__content a, .section--04__content a:active, .section--04__content a:hover, .section--04__content a:focus {
  color: #ffffff;
}
@media (min-width: 750px) {
  .section--04__content {
    padding: 3rem;
  }
}
.section--04__subHeading {
  position: absolute;
  top: -3rem;
  z-index: 1;
  color: #0a4b91;
  font-weight: 900;
  font-size: 2rem;
  letter-spacing: 3px;
}
.section--04__largeText {
  position: relative;
  z-index: 1;
  margin-bottom: 1.5rem;
  font-weight: 900;
  font-size: clamp(1.75rem, 5.33vw, 4rem);
  line-height: 1.2;
}
.section--04__smallText {
  position: relative;
  z-index: 1;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1.2;
}
.section--04__personName {
  margin-right: 0.75rem;
  padding: 0 0.75rem;
  background-color: #ffffff;
  color: #00b2ed;
}
.section--04__personInfo {
  display: inline-block;
  font-size: 0.75em;
}
.section--04__image {
  position: absolute;
  right: 0;
  bottom: 0;
  width: min(50%, 30rem);
}
.section--05 {
  background-image: linear-gradient(rgba(0, 178, 237, 0.15) 1px, transparent 1px), linear-gradient(90deg, rgba(0, 178, 237, 0.15) 1px, transparent 1px);
  background-size: 15px 15px;
  background-repeat: repeat;
  background-position: center center;
}
.section--05__row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
.section--05__imageWrap {
  position: relative;
  flex-grow: 4;
  flex-shrink: 4;
  flex-basis: 24rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.section--05__imageWrap::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: calc(100% + 1.5rem);
  height: 50vw;
  margin: -0.75rem;
  background: url("./assets/section05_bg.jpg") no-repeat 0 100%/cover scroll;
}
@media (min-width: 750px) {
  .section--05__imageWrap::before {
    width: 50vw;
    height: min(25vw, 24rem);
    margin: 0;
  }
}
.section--05__image {
  position: relative;
  z-index: 1;
  display: block;
  width: 20rem;
  margin: 0 auto 3rem;
  border-radius: 1.5rem;
}
.section--05__contentWrap {
  flex-grow: 4;
  flex-shrink: 4;
  flex-basis: 24rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.section--05__contentInner {
  position: relative;
  z-index: 1;
  max-width: 24rem;
  margin: 3rem auto 0;
  padding: 1.5rem;
}
.section--05__lead {
  font-size: 1.5rem;
}
.section--05__lead p {
  margin: 0 0 0.75rem;
  padding-bottom: 0.75rem;
  border-bottom: 2px solid #0a4b91;
}
.section--05__personInfo {
  color: #036eb8;
}
.section--05__personName {
  color: #036eb8;
  font-size: 2rem;
}
.section--05__button {
  width: 18rem;
  margin-top: 1.5rem;
  margin-left: 0;
}
.section--05__figure {
  top: -3rem;
  right: -0.75rem;
  width: min(50%, 30rem);
}
.section--06__row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
.section--06__button {
  flex: 4 4 24rem;
}
.section--06__button:hover {
  opacity: 0.5;
}
.section--06__figure {
  top: -3rem;
  right: -0.75rem;
  width: min(45%, 27rem);
}
.section--06 .swiper {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.section--recruit {
  padding: 6rem 0;
  background-color: #00b2ed;
}
.section--recruit__row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
}
.section--recruit__heading, .section--recruit__buttons {
  flex: 4 4 24rem;
}
.section--recruit__heading img {
  max-width: 30rem;
}
.section--recruit__button:hover {
  opacity: 0.85;
}

/**
 * Footer
 */
.footer {
  padding: 3rem 0;
}
.footer__container {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: clamp(0.75rem, 2%, 1.5rem);
  padding-right: clamp(0.75rem, 2%, 1.5rem);
}
.footer__row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.footer__siteBrand {
  flex-grow: 0;
  flex-shrink: 4;
  flex-basis: 24rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.footer__content {
  flex-grow: 0;
  flex-shrink: 4;
  flex-basis: 24rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.footer__primaryMenu {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin: 0;
}
.footer__menuItem {
  flex: 0 0 auto;
  margin: 0;
}
.footer__button {
  background-color: #00b2ed;
  color: #ffffff;
  display: block;
  width: 18rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0.75rem;
  border: none;
  border-radius: 3rem;
  text-align: center;
  text-decoration: none;
  word-break: break-word;
  outline: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  margin: 1.5rem auto;
}
.footer__button a, .footer__button a:active, .footer__button a:hover, .footer__button a:focus {
  color: #ffffff;
}
.footer__button:hover {
  text-decoration: none;
  opacity: 0.85;
}
.footer__button, .footer__button:active, .footer__button:hover, .footer__button:focus {
  color: #ffffff;
}
.footer__copyright {
  display: block;
  color: #036eb8;
  text-align: center;
}